.markdown-body {
  font-family: "Outfit", sans-serif;
  line-height: 1.5em;
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  overflow-wrap: break-word;
  height: 100%;
  color: black;
  font-weight: 500;
}
.markdown-body ul,
ol {
  display: block;
  list-style: disc outside none;
  margin: 1em 0;
  padding: 0 0 0 40px;
}
.markdown-body ol {
  list-style-type: decimal;
}

.markdown-body img {
  margin: 0;
  border: 0;
}

.markdown-body p {
  margin: 1em 0;
}

.markdown-body a {
  color: #00213d;
  text-decoration: underline;
}

.markdown-body a:visited {
  color: #582d70;
  background-color: transparent;
}

.markdown-body a:active {
  color: #3c0081;
  background-color: transparent;
}

.markdown-body a:hover {
  color: #4f66b1;
}

.markdown-body p img {
  border: 0;
  margin: 0;
}

.markdown-body h1,
h2,
h3,
h4,
h5,
h6 {
  color: #003a6b;
  background-color: transparent;
  margin: 1em 0;
  font-weight: 700;
}

.markdown-body h1 {
  font-size: 180%;
}

.markdown-body h2 {
  font-size: 160%;
}

.markdown-body h3 {
  font-size: 140%;
}

.markdown-body h4 {
  font-size: 110%;
}

.markdown-body h5 {
  font-size: 105%;
}

.markdown-body h6 {
  font-size: 100%;
}

.markdown-body dt {
  font-style: italic;
}

.markdown-body dd {
  margin-bottom: 1.5em;
}

.markdown-body li {
  line-height: 1.5em;
}

.markdown-body code {
  padding: 0.3em;
  font-size: 14px;
  border-radius: 15%;
  font-family: "Menlo", monospace;
  background-color: #ccc5c5;
  border: 1px solid #efefef;
  color: rgb(29, 28, 28);
}

.markdown-body pre {
  font-family: "Menlo", monospace;
  background-color: #fff;
  padding: 0.5em;
  line-height: 1.25em;
  border: 1px solid #efefef;
  border-bottom: 1px solid #ddd;
  -webkit-box-shadow: 0 1px 3px 0 #eee;
  -moz-box-shadow: 0 1px 3px 0 #eee;
  -ms-box-shadow: 0 1px 3px 0 #eee;
  box-shadow: 0 1px 3px 0 #eee;
}

.markdown-body pre code {
  background-color: white;
  border-width: 0;
}

.markdown-body blockquote {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #ddd;
  -webkit-box-shadow: 0 1px 3px 0 #eee;
  -moz-box-shadow: 0 1px 3px 0 #eee;
  -ms-box-shadow: 0 1px 3px 0 #eee;
  box-shadow: 0 1px 3px 0 #eee;
}

.markdown-body table {
  border-collapse: collapse;
  border: 1px solid #efefef;
  border-bottom: 1px solid #ddd;
  -webkit-box-shadow: 0 1px 3px 0 #eee;
  -moz-box-shadow: 0 1px 3px 0 #eee;
  -ms-box-shadow: 0 1px 3px 0 #eee;
  box-shadow: 0 1px 3px 0 #eee;
}

.markdown-body td,
th {
  border: 1px solid #ddd;
  padding: 0.5em;
}

.markdown-body th {
  background-color: #f5f5f5;
}
